@import url('https://fonts.googleapis.com/css?family=Roboto:100');
body{
    font-family: 'Roboto', sans-serif;
    webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    transform: scale(1.5);
    padding-top: 50px;
    background-color: gray;
}
#calc-parent{
   margin-left: calc(50% - 100px);
}
h1{
    color: white;
    text-align: center;
    margin-top: 60px;
}
.calc-btn{
    background-color: silver;
    color: black;
    width: 25px;
    height: 45px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 32px;
    font-weight: 100;
    padding: 3px;
    text-align: center;
}
.calc-btn:hover{
    background-color: orange;
}
.row{
    display: table;
    table-layout: fixed;
    width: 200px;
}
.column{
    display: table-cell;
}
#calc-clear{
     width: 57.66666667px;
}
#calc-zero{
    width: 57.66666667px;
        border-radius: 0 0 0 7px;

}
#calc-display-val{
    height: 80px;
    color: white;
    text-align: right;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    font-size: 40px;
    background-color: #383838;
    overflow: hidden;
    white-space: nowrap;
    padding: 12px;
    border-radius: 7px 7px 0 0;
}
.calc-btn-operator{
    background-color: orange;
    color: white;
}
#calc-equals{
    border-radius: 0 0 7px 0;
}
.twitter-follow-button{
    margin-top: 4px;
}